//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: $darkblue;
}


//===============================================================================
// HOME STLYES
//===============================================================================

.svg-wrap {
  $size: 400px;
  width: $size;
  height: $size;
  background-color: white;
  margin: 40px;
  overflow: hidden;
  border-radius: $size;
}

