//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: $darkblue;
}


//===============================================================================
// HOME STLYES
//===============================================================================

.svg-wrap {
  $size: 400px;
  width: $size;
  height: $size;
  background-color: white;
  margin: 3rem;
  overflow: hidden;
  border-radius: $size;
  display: block;
  margin: 3rem auto 6rem;
  cursor: pointer;
}


@import "_variables.scss";

html,
body {
  background-color: $primary-blue;
}

.logo {
  margin: 1.5rem 0;
}

.logo-size {
  width: 50%;
  margin: 0 auto;
  display: block;
    max-width: 180px;

}

header {
  margin-bottom: 5rem;
}

.nav-wrapper {
  position: fixed;
  margin: 0 auto;
  top: 6rem;
  left: 0;
  right: 0;
}

.nav {
  margin: 0 auto;
}

.washing-machine {
  display: block;
  margin: 3rem 0 6rem 0;
}

.washing-machine img {
  display: block;
  margin: 0 auto;
}

.about-panel {
  margin: 0 1rem;
}

.gallery-panel {
  background-color: $dark-blue;
  padding: 6rem 0;
}

.gallery-images {
  padding: 0 1rem;
  display: block;
  margin: 0 auto;
  max-width: 1000px;

  img {
  display: block;
  width: 100%;
  }
}

.contact-panel {
  margin: 6rem 1rem;
  max-width: 1000px;
}
 
form.email-signup {
  margin: 1rem auto;
}

button,
input,
optgroup,
select,
textarea {
  color: $primary-blue;
  display: block;
  margin: .5rem auto;
  text-align: center;
  font-size: 1.25rem;
  border: none;
  line-height: 2;
}

.send-button {
  background-color: white;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
}


@media only screen and (min-width: 660px) {

  .gallery-images {
    padding: 0 3rem;
  }

  .about-panel {
    margin: 0 3rem;
  }

  .contact-panel {
    margin: 6rem 3rem;
  }

}

@media only screen and (min-width: 960px) {

  .gallery-images {
    padding: 0 6rem;
 }

  .contact-panel {
  margin: 6rem auto;
  max-width: 800px;
  }
}




