
//===============================================================================
// VARIABLES
//===============================================================================

$paleblue: #ccf3ff;
$lightblue: #00ffff;
$darkblue: #00c3ff;
$orange: #f7ce52;
$yellow: #fff650;



$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





